[submodule "themes/raditian"]
	path = themes/raditian
	url = https://github.com/radity/raditian-free-hugo-theme.git
[submodule "themes/hugo-webslides"]
	path = themes/hugo-webslides
	url = https://github.com/rcjach/hugo-webslides.git
